{% extends 'base.html' %}

{% block content %}
<h1>Add Post</h1>
<form action="/user/{{id}}/posts/posting" method="post">
<span>
<label for="">Title</label>
<input type="text" placeholder="First Post" name="title">
</span>
<div>
<span>
<label for="">Post Content</label>
<input type="textarea" placeholder="Post" name="content">
</span>
</div>
<ul>
    {% for tag in tags %}
    <li>
        <input class="form-check-input" type="checkbox" id="{{tag.tag_id}}" name="tags" value="{{tag.tag_id}}">
        <label class="form-check-label" for="flexCheckDefault">
            {{tag.name}} {{tag.tag_id}}
        </label>
    </li>
    {% endfor %}
</ul>
<span>

<a href="/user/{{user.user_id}}" class="btn btn-outline-primary">Cancel</a>
<button class="btn btn-danger">Add</button>
</span>
<input type="hidden" value="{{id}}" name="user_id" />  
</form>
{% endblock %}

